.App {
  text-align: center;
}

.RadioButton {
  display: inline-block;
  vertical-align: text-top;
  font-size: 20px;
  padding: 5px;
}

.SubmitButton {
  display: inline-block;
  vertical-align: text-top;
  font-size: 20px;
  padding-left: 10px;
}

.Background {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(185, 255, 255);
}

.QuestionGroup {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 10%;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}

.SubmitGroup {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 10%;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}
