.App {
  text-align: center;
}

.RadioButton {
  display: inline-block;
  vertical-align: text-top;
  font-size: 20px;
  padding: 5px;
}

.SubmitButton {
  display: inline-block;
  vertical-align: text-top;
  font-size: 20px;
  padding-left: 10px;
}

.Background {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(120, 185, 185);
}

.QuestionGroup {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 10%;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}

.SubmitGroup {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 11%;
  background-color: rgb(230, 230, 230);
  padding-top: 60px;
  padding-left: 20px;
}
